<?xml version="1.0" encoding="utf-8"?>
<!--
  SPDX-FileCopyrightText: Federico Dossena
  SPDX-FileCopyrightText: The MoKee Open Source Project
  SPDX-FileCopyrightText: TheParasiteProject
  SPDX-License-Identifier: GPL-3.0-or-later
  License-Filename: LICENSE
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.bluetooth.bthelper"
    android:versionCode="1"
    android:versionName="1.0">

    <queries>
        <package android:name="com.android.bluetooth.bthelper.adapter" />
        <package android:name="com.android.systemui" />
        <package android:name="com.android.settings" />
        <package android:name="com.android.bluetooth" />
        <package android:name="com.google.android.bluetooth" />
        <package android:name="com.google.android.settings.intelligence" />
    </queries>

    <attribution
        android:tag="BtHelper"
        android:label="@string/app_name" />

    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.MANAGE_ACTIVITY_TASKS" />

    <protected-broadcast android:name="batterywidget.impl.action.update_bluetooth_data" />

    <protected-broadcast android:name="com.android.bluetooth.bthelper.CONNECTED" />
    <protected-broadcast android:name="com.android.bluetooth.bthelper.DISCONNECTED" />
    <protected-broadcast android:name="com.android.bluetooth.bthelper.NAME_CHANGED" />
    <protected-broadcast android:name="com.android.bluetooth.bthelper.SET_ANC_MODE" />
    <protected-broadcast android:name="com.android.bluetooth.bthelper.SET_SLICE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:icon="@mipmap/ic_bthelper"
        android:label="@string/app_name"
        android:defaultToDeviceProtectedStorage="true"
        android:enableOnBackInvokedCallback="true"
        android:persistent="true">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="com.android.bluetooth.bthelper.androidx-startup"
            tools:replace="android:authorities" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.android.bluetooth.bthelper.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".settings.MainSettingsActivity"
            android:exported="true"
            android:label="@string/settings_title"
            android:theme="@style/Theme.SubSettingsBase.Expressive">
            <intent-filter>
                <action android:name="com.android.bluetooth.bthelper.ACTION_PENDING_INTENT" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.MainSettingsFragment"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.bluetooth.bthelper.ACTION_PENDING_INTENT" />
            </intent-filter>
        </activity>

        <!-- AirPods services -->
        <service
            android:name=".pods.PodsService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".StartupReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.bluetooth.a2dp.profile.action.ACTIVE_DEVICE_CHANGED" />
                <action android:name="android.bluetooth.a2dp.profile.action.AVRCP_CONNECTION_STATE_CHANGED" />
                <action android:name="android.bluetooth.a2dp.profile.action.CODEC_CONFIG_CHANGED" />
                <action android:name="android.bluetooth.a2dp.profile.action.PLAYING_STATE_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.CONNECTION_STATE_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED" />
                <action android:name="android.bluetooth.device.action.NAME_CHANGED" />
                <action android:name="android.bluetooth.headset.action.VENDOR_SPECIFIC_HEADSET_EVENT" />
                <action android:name="android.bluetooth.headset.profile.action.CONNECTION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
