<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (C) 2019-2022 Federico Dossena
                2019 The MoKee Open Source Project
                2023 someone5678
  SPDX-License-Identifier: GPL-3.0-or-later
  License-Filename: LICENSE
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.bluetooth.bthelper"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <protected-broadcast android:name="batterywidget.impl.action.update_bluetooth_data" />

    <protected-broadcast android:name="com.android.bluetooth.bthelper.action.ONEPOD_CHANGED" />
    <protected-broadcast android:name="com.android.bluetooth.bthelper.action.AUTO_PLAY_CHANGED" />
    <protected-broadcast android:name="com.android.bluetooth.bthelper.action.AUTO_PAUSE_CHANGED" />
    <protected-broadcast android:name="com.android.bluetooth.bthelper.action.LOW_LATENCY_AUDIO_CHANGED" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:icon="@mipmap/ic_bthelper"
        android:label="@string/app_name"
        android:persistent="true">

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:replace="android:authorities" />

        <provider
            android:authorities="com.android.bluetooth.bthelper"
            android:name=".slices.BtHelperSliceProvider"
            android:grantUriPermissions="true"
            android:exported="true" />

        <receiver
            android:name=".slices.SliceBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.android.bluetooth.bthelper.ACTION_PENDING_INTENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".settings.MainSettingsActivity"
            android:exported="true"
            android:label="@string/settings_title"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.MainSettingsFragment"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.bluetooth.bthelper.ACTION_PENDING_INTENT" />
            </intent-filter>
        </activity>

        <!-- AirPods services -->
        <service
            android:name=".pods.PodsService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".StartupReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.bluetooth.a2dp.profile.action.ACTIVE_DEVICE_CHANGED" />
                <action android:name="android.bluetooth.a2dp.profile.action.AVRCP_CONNECTION_STATE_CHANGED" />
                <action android:name="android.bluetooth.a2dp.profile.action.CODEC_CONFIG_CHANGED" />
                <action android:name="android.bluetooth.a2dp.profile.action.CONNECTION_STATE_CHANGED" />
                <action android:name="android.bluetooth.a2dp.profile.action.PLAYING_STATE_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.CONNECTION_STATE_CHANGED" />
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED" />
                <action android:name="android.bluetooth.device.action.NAME_CHANGED" />
                <action android:name="android.bluetooth.headset.action.VENDOR_SPECIFIC_HEADSET_EVENT" />
                <action android:name="android.bluetooth.headset.profile.action.CONNECTION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
